/*-------------*/

/*MEDIA QUERIES*/

/*-------------*/

@media only screen and (max-width: 1700px)  {
    #header-nav-bar-menu {
        width: 60%;
    }

    .main_grid {
        grid-template-columns: auto auto auto auto;
    }

    .firstcut {
        display: none;
    }
    .introduction{
        width: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    #header-nav-bar-menu {
        width: 70%;
    }

    #header-nav-bar-menu li a { 
        font-size: 20px;
    }
    .introduction{
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    #header-nav-bar-menu {
        width: 80%;
    }

    .main_grid {
        grid-template-columns: auto auto auto;
    }

    .secondcut {
        display: none;
    }
    .introduction{
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    
    #header-nav-bar-menu {
        width: 100%;
    }
    
    #header-nav-bar-menu li a { 
        font-size: 16px;
    }
    .introduction{
        width: 70%;
    }
    h2{
        font-size: 40px;
    }
    .main_grid, #certificates_grid {
        grid-template-columns: auto auto;
    }

    #contact_me_container {
        flex-direction: column;
    }

    #contact_me_container .contact_me_form {
        margin-left: 0px;
    }

    #contact_me_container .map_container {
        margin-right: 0px;
    }

    footer .footer_container {
        grid-template-columns: 1fr;
    }

}

@media only screen and (max-width: 700px) {
    #header-nav-bar-menu {
        display: none;
    }

    .small_screen#nav_burger {
        display: flex;
    }
    .introduction{
        width: 60%;
    }
    .button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .container{
        margin-top: 40px;
    }

    .button{
        height: auto;
        width:auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    header .banner {
        padding: 20 10px;
    }
    
    header .banner h1{
        padding-top: 20px;
        font-size: 40px;
    }
    .main_grid, #certificates_grid {
        grid-template-columns: auto;
    }

    .mobilecut {
        display: none;
    }

}

@media only screen and (max-width: 550px) {
    .container{
        margin-top: 40px;
    }
    header .banner h1 {
        margin-top: 10px;
        font-size: 30px;
        animation: 
        typing-mobile 1.5s steps(35, end),
        blink-caret-mobile .65s step-end infinite;
    }

    header .banner h2{
        font-size: 25px;
    }

    #contact_me_container .contact_me_form {
        width: 350px;
        box-shadow: none;
    }

    #contact_me_container .map_container {
        width: 350px;
    }
    
    #contact_me_container .contact_me_form input {
        width: 85%;
    }

    #contact_me_container .contact_me_form textarea {
        width: 85%;
    }

    #about_me p {
        width: 94%;
    }
}
