@media (max-width: 1000px) {
  #header-nav-bar-menu {
    width: 100%;
  }

  #header-nav-bar-menu li a {
    font-size: 16px;
  }

  header .banner h2 {
    font-size: 1.6 rem;
    text-align: center;
  }

  header .banner h3 {
    font-size: 20px;
    text-align: center;
  }

  #contact_me_container {
    display: block;
    justify-content: center;   
    align-items: center;        
    min-height: 100vh;        
    padding: 20px;              
    box-sizing: border-box;
  }


  #contact_me_container .map_container {
    margin-right: 0;
  }

  .experience_item {
    text-align: center;
  }

  footer .footer_container {
    grid-template-columns: 1fr;
  }

  .grid_container .grid_card {
    max-width: 300px;
    height: 300px;
  }
  
  .certificate_container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  .container {
    flex: 1 1 calc(50% - 15px); 
  }
}

@media (max-width: 700px) {

  main .main_container {
        width: 95%;
    }
  .header {
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  .button-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px 15px;
  }
  .introduction {
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .introduction .banner:first-child {
    align-items: center;
    text-align: center;
  }
  #header-nav-bar-menu {
    display: none;
  }
  .banner {
    width: 80%;
    text-align: center;
  }
  .experience_item {
    text-align: center;
    display: block; 
  }
  .drop-shadow-div.blob {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 300px;
  }

  .small_screen#nav_burger {
    display: flex;
  }

  .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
.readMoreBtn{
    display: block;
    margin: 10px auto;
    text-align: center;
}
 h2 {
    text-align: center;
    font-size: 1.6rem;
  }
  h4{
  text-align: center;
}
  header .banner h3 {
    font-size: 20px;
  }

 .experience {
   width: 90%;
  text-align: center;
  margin: 0 auto; 
    }
  .main_grid {
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
  }

  .grid_container_img {
    width: 100%;
  }

  .grid_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
  }

  .grid_container h3 {
    width: 100%;
    text-align: center;
    order: 1;
  }

  .grid_container .grid_card {
    max-width: 300px;
    order: 2;
  }

  .div_p {
    width: 100%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    order: 3;
  }

#contact_me_container {
    flex-direction: column;
    align-items: center; 
  }

  .contact_me_form {
    width: 90%;
    max-width: 400px;
  }

  .map_container canvas {
    width: 300px;
    height: 300px;
  }
  .drop-shadow-div.blob {
    width: 200px;
    height: 200px;
    border-radius: 8px; 
    margin-top: 5px;
    animation: none; 
  }
  .certificate_container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
  }

  .cert_container {
    max-width: 100%;
  }

  .cert_text span {
    font-size: 20px;
    text-align: center;
    display: block;
  }
  .cert_card img {
    max-width: 95%;
  }
  .container {
    flex: 1 1 100%; 
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
  .date{
    text-align: center;
  }
#about_me p {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; 
}
  #about_me h2{
      text-align: center;
}
   .details h3{
    font-size: 1.6rem;
    }
  .moreDetails {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .readMoreBtn {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
   .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
    max-width: 90%; 
    margin: 0 auto;
  }

  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .project-description {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  .project-description h3 {
    font-size: 1.8rem;
  }

  .project-description p {
    font-size: 1rem;
  }

  .project-title h2 {
    font-size: 2rem;
  }

  .project-text h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 650px) {
  main .main_container {
        width: 95%;
    }
  .header {
    text-align: center;
    align-items: flex-start;
    gap: 0.4rem;
  }
  .button-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px 15px;
  }
  .button {
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .drop-shadow-div.blob {
    width: 200px;
    height: 200px;
    border-radius: 8px; 
    margin-top: 5px;
    animation: none; 
  }
  header .banner {
    padding: 20px 10px;
    text-align: center;
  }

  header .banner h1 {
    padding-top: 10px;
    font-size: 35px;
  }

  h2 {
    font-size: 1.6rem;
  text-align: center;
  }
  h4{
      text-align: center;
  }

  header .banner h3 {
    font-size: 18px;
  }

  .cert_card img {
    max-width: 95%;
  }
  .container {
    flex: 1 1 100%; 
  }
.certificate_container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 15px;
    text-align: center;
  }
  .cert_text span {
    font-size: 20px;
    text-align: center;
  }
  
  h3 {
    margin-left: auto;
    margin-right: auto;
  }
  #about_me p {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px; 
}
  .introduction{
      padding-top: 120px;
}
#about_me h2{
      text-align: center;
}
  .date{
    text-align: center;
  }
   .details h3{
    font-size: 1.6rem;
    }

  .moreDetails {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .readMoreBtn{
    display: block;
    margin: 10px auto;
    text-align: center;
}

   .experience {
   width: 90%;
   text-align: center;
   margin: 0 auto; 
    }
   .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-image {
    width: 100%;
    max-width: 90%; 
    margin: 0 auto;
  }

  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .project-description {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }

  .project-description h3 {
    font-size: 1.8rem;
  }

  .project-description p {
    font-size: 1rem;
  }

  .project-title h2 {
    font-size: 2rem;
  }

  .project-text h2 {
    font-size: 1.4rem;
  }
  #contact_me_container {
    flex-direction: column;
    align-items: center; 
  }

  .contact_me_form {
    width: 90%;
    max-width: 400px;
  }

  .map_container canvas {
    width: 300px;
    height: 300px;
  }
}
