/*-------------*/

/*MEDIA QUERIES*/

/*-------------*/

/* Para pantallas de 1700px o menos */
@media only screen and (max-width: 2000px) {

    .main_grid {
        grid-template-columns: auto auto auto auto;
    }

    .firstcut {
        display: none;
    }

}

/* Para pantallas de 1500px o menos */
@media only screen and (max-width: 1500px) {

    #header-nav-bar-menu li a { 
        font-size: 20px;
    }

}
/* Para pantallas de 1300px o menos */
@media only screen and (max-width: 1300px) {
    #header-nav-bar-menu {
        width: 80%;
    }

    .main_grid {
        grid-template-columns: auto auto auto;
    }

    .secondcut {
        display: none;
    }

    .experience_item {
        flex-direction: row;
    }
}

/* Para pantallas de 1000px o menos */
@media only screen and (max-width: 1000px) {
    #header-nav-bar-menu {
        width: 100%;
    }

    #header-nav-bar-menu li a { 
        font-size: 16px;
    }


    header .banner h2 {
        font-size: 30px;
    }

    header .banner h3 {
        font-size: 20px;
    }

    .main_grid, #certificates_grid {
        grid-template-columns: auto auto;
    }

    #contact_me_container {
        flex-direction: column;
    }

    #contact_me_container .contact_me_form {
        margin-left: 0px;
    }

    #contact_me_container .map_container {
        margin-right: 0px;
    }
    .experience_item {
        padding: 30px;
    }
    footer .footer_container {
        grid-template-columns: 1fr;
    }
        .grid_container .grid_card{
        max-width:300px;
        height:300px;
    }
}


@media (max-width: 700px) {
    .introduction {
      flex-direction: column;
      align-items: stretch; 
      width: 100%; 
    }
  
    .introduction .banner {
      width: 100%;
    }
  
    .introduction .banner:first-child {
      align-items: flex-start; 
      text-align: left;
    }
  
    .introduction .banner:last-child {
      align-items: flex-end; 
      margin-top: 30px;
    }
    #header-nav-bar-menu {
        display: none; 
    }

    .banner {
        width: 80%;
    }

    .drop-shadow-div.blob {
        display: block;
        margin: 0 auto;
        width: 70%;
        max-width: 300px;
    }
        
    .small_screen#nav_burger {
        display: flex;
    }

    .button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .banner h2 {
        font-size: 30px;
    }

    header .banner h3 {
        font-size: 20px;
    }
    
    .experience {
        width: 90%;
    }
    
    .main_grid {
        flex-direction: column; 
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .grid_container_img {
        width: 100%; 
    }

    /* Modificación para la sección de proyectos en dispositivos móviles */
    .grid_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    
    .grid_container h3 {
        width: 100%;
        text-align: center;
        order: 1; /* Esto coloca el título primero */
    }
    
    .grid_container .grid_card {
        max-width: 300px;
        order: 2; /* La imagen va después del título */
    }
    
    .div_p {
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        order: 3; /* El párrafo va al final */
    }

    #contact_me_container .contact_me_form {
        width: 90%; 
        margin-left: 0; 
        margin-right: 0; 
        padding: 30px 15px; 
    }
    
    .certificate_container {
        width: 90%;  
        grid-template-columns: repeat(2, 1fr); 
    }

    .cert_container {
        max-width: 100%; 
        padding: 15px; 
    }

    .cert_text span {
        font-size: 20px;  
    }
}

/* Para pantallas de 650px o menos */
@media only screen and (max-width: 650px) {
    .button {
        height: auto;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .banner {
        padding: 20 10px;
    }

    header .banner h1 {
        padding-top: 10px;
        font-size: 35px;
    }

    header .banner h2 {
        font-size: 25px;
    }

    header .banner h3 {
        font-size: 18px;
    }

    .main_grid, #certificates_grid {
        grid-template-columns: auto;
    }
    
    .main_container h2 {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .mobilecut {
        display: none;
    }

    .introduction {
        flex-direction: column;
        width: 90%; 
        margin: 0 5%; 
    }
    
    .banner {
        width: 80%;
    }

    .experience {
        width: 94%;
    }
    
    .drop-shadow-div.blob {
        display: block;
        margin: 0 auto;
        width: 70%;
        max-width: 300px;
    }
    
    .grid_container .grid_card {
        max-width: 300px;
    }
    
    .main_container {
        width: 100%; 
        padding: 0 10px; 
    }
    
    .grid_container h3 {
        text-align: center;
    }
    
    .div_p {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 550px) {
    .certificate_container {
        grid-template-columns: 1fr; 
    }

    .cert_container {
        padding: 10px; 
    }

    .cert_text span {
        font-size: 18px;  
    }
        
    .grid_container h3 {
        text-align: center;
    }
    
    .mobilecut {
        background-color: #f8f8f8;
    }

    .mobilecut .cert_card {
        background-color: #ffeb3b; 
        color: #333;
        height: auto;
    }

    .mobilecut .cert_text {
        color: #ff5722;
    }

    header .banner h1 {
        margin-top: 10px;
        font-size: 20px;
        white-space: nowrap;  
        overflow: hidden;    
        width: 100%;     
    }

    header .banner h2 {
        font-size: 18px;          
        width: 100%;             
        word-wrap: break-word;    
        line-height: 1.4;         
    }

    header .banner h3 {
        font-size: 16px;
    }

    #contact_me_container .contact_me_form {
        width: 350px;
        box-shadow: none;
    }

    #contact_me_container .map_container {
        width: 350px;
    }

    #contact_me_container .contact_me_form input {
        width: 85%;
    }

    #contact_me_container .contact_me_form textarea {
        width: 85%;
    }

    #about_me p {
        width: 94%;
    }
        
    .main_container {
        width: 100%; 
        padding: 0 10px; 
    }
        
    .main_container h2 {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
        
    .experience {
        width: 100%;
    }
        
    .introduction {
        flex-direction: column;
        width: 90%; 
        margin: 0 5%; 
    }
        
    .drop-shadow-div.blob {
        display: block;
        margin: 0 auto;
        width: 80%;
        max-width: 300px; 
    }
        
    .grid_container .grid_card {
        max-width: 250px;
    }
    
    .banner {
        width: 80%;
    }
    
    .div_p {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .introduction {
        padding-top: 130px;
        width: 100%;
    }
    
    .certificate_container {
        grid-template-columns: 1fr; 
    }

    .cert_container {
        padding: 10px; 
    }

    .cert_text span {
        font-size: 18px;  
    }
    
    #contact_me_container .contact_me_form {
        width: 95%; 
        padding: 20px 10px; 
        margin-left: 0; 
        margin-right: 0; 
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
    }
    
    .div_p {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}
