@media (max-width: 1000px) {
  body {
    padding: 0;
    margin: 0;
  }

  #header-nav-bar-menu {
    width: 100%;
  }

  #header-nav-bar-menu li a {
    font-size: 16px;
  }

  header .banner h2 {
    font-size: 30px;
    text-align: center;
  }

  header .banner h3 {
    font-size: 20px;
    text-align: center;
  }

  .main_grid,
  #certificates_grid {
    grid-template-columns: 1fr;
  }

  #contact_me_container {
    flex-direction: column;
    align-items: center;
  }

  #contact_me_container .contact_me_form,
  #contact_me_container .map_container {
    margin: 0;
    width: 100%;
  }

  .experience_item {
    padding: 30px 15px;
    text-align: center;
  }

  .grid_container .grid_card {
    max-width: 300px;
    height: auto;
  }

  footer .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .introduction {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .banner {
    width: 90%;
    text-align: center;
  }

  .drop-shadow-div.blob {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 300px;
  }

  .small_screen#nav_burger {
    display: flex;
  }

  .button {
    margin: 10px 0;
  }

  .experience {
    width: 90%;
  }

  .main_container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .grid_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .grid_container h3,
  .div_p {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  #contact_me_container .contact_me_form {
    width: 90%;
    padding: 30px 15px;
  }

  .certificate_container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 0 auto;
  }

  .cert_container {
    max-width: 100%;
    padding: 15px;
    text-align: center;
  }

  .cert_text span {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .button {
    height: auto;
    width: auto;
    margin: 10px 0;
  }

  header .banner {
    padding: 20px 10px;
  }

  header .banner h1 {
    padding-top: 10px;
    font-size: 35px;
    text-align: center;
  }

  header .banner h2 {
    font-size: 25px;
    text-align: center;
  }

  header .banner h3 {
    font-size: 18px;
    text-align: center;
  }

  .main_grid,
  #certificates_grid,
  .certificate_container {
    grid-template-columns: 1fr;
  }

  .main_container h2 {
    text-align: center;
  }

  .cert_container {
    max-width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .cert_text span {
    font-size: 20px;
  }

  .experience_item {
    padding: 30px 15px;
    text-align: center;
  }
}
