/* Estilos generales de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-body-color: #0B1930; 
    --main-color: #ccd6f6;
    --text-color: #64ffda;

}

::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}
.isDarkMode {
    background-color: #0B1930;  
    color: #8992b1;   
}

body {
    color: #0B1930;
    background: #8992B1; 
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    cursor: default;
    font-size: 32px;
}

h2 {
    color: #ccd5f6; 
    font-family: 'Poppins', sans-serif;
    cursor: default;
    font-size: 2.5rem;
}

h3 {
    color: #ccd5f6;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

h4 {
    color: #64FFDA;
    font-family: 'Poppins', sans-serif;
    cursor: default;
    font-size: 15px;
    text-align: left; 
    text-justify: inter-word; 
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #ccd5f6;
}
/*-------------*/

/*HEADER SECTION CSS*/

/*-------------*/

.introduction {
    padding-top: 200px;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.introduction .banner {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction .banner:first-child {
    align-items: flex-start; 
    text-align: left;
}

.introduction .banner:last-child {
    align-items: flex-end;
}

header {
    width: 100%;
}
.toggle-btn {
    z-index: 999; 
    position: fixed;
    bottom: 1vh; 
    left: 1vw; 
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000 !important; /* Fondo negro */
    font-size: 24px;
    transition: opacity 0.5s ease-in-out;
}
.toggle-btn:hover {
    transform: scale(1.1);
}

.button {
    font-size: 13px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    height: auto; 
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #64FFDA;
    cursor: default; 
}

.button:hover {
    filter: drop-shadow(0 0 1.5rem #64FFDA); 
}


.banner {
    justify-content: flex-start; 
    width: 38%; 
    gap: 20px;
    box-sizing: border-box; 
}

.drop-shadow-div.blob {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 330px; 
    height: 330px; 
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 10px; 
    background-image: url("/IMG/yo.jpg"); 
    background-color: #64ffda; 
    background-size: cover; 
    background-position: center;
    animation: morph 3.6s linear infinite;
}

.drop-shadow-div{
    -webkit-appearance: none;
    appearance:none;
    filter: drop-shadow(0 0 1.5rem #64ffda);
}
.banner h1 {
    text-justify: inter-word; 
    font-size: 40px;
    text-shadow: 1px 1px 5px var(#64ffda);
    margin-bottom: 20px;
    overflow: hidden; 
    border-right: .15em solid var(#64ffda);
    white-space: nowrap;
    flex-direction: column;
    align-items: flex-end; 
    text-align: justify; 
    text-justify: inter-word; 
}

.banner h2 {
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-end; 
    text-align: justify; 
    text-justify: inter-word; 
    font-size: 27px;
    text-shadow: 1px 1px 5px var(#64ffda);
}
.banner h3 {
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-end; 
    text-align: justify; 
    text-justify: inter-word; 
    font-size: 20px;
    text-shadow: 1px 1px 5px var(#64ffda);
    padding-top: 10px;
}
.banner span {
    font-family: 'Bungee', cursive;
    color: var(#64ffda);
    cursor: pointer;
    text-shadow: 1px 1px 2px var(#64ffda);
}
nav {
    width: 100%;
    z-index: 1;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-body-color);
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}

.small_screen#mobile_nav {
    width: 100%;
    height: 100%;
    background-color: var(--main-body-color-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.small_screen#mobile_nav ul {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small_screen#mobile_nav ul li {
    font-size: 18px;
}

.small_screen#mobile_nav ul li::after {
    content: ' / >';
    width: 10%;
    color: var(--main-color);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.small_screen#mobile_nav ul li::before {
    content: '< ';
    width: 10%;
    color: var(--main-color);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

footer#nav_footer {
    height: 50%;
    padding: 0px;
}

.small_screen#mobile_nav ul li {
    list-style: none;
}

.small_screen#nav_burger {
    width: 100%;
    height: 80px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

#nav_exit_icon {
    display: none;
}

.small_screen#nav_burger span i {
    color: var(--main-color);
    cursor: pointer;
}

#header-nav-bar-menu {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-nav-bar-menu::after {
    content: '/ >';
    width: 10%;
    color: #64FFDA; 
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#header-nav-bar-menu::before {
    content: '<';
    text-align: right;
    width: 10%;
    color: #64FFDA; 
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#header-nav-bar-menu li {
    list-style: none;
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav-bar-menu li a {
    color: #64FFDA; 
    font-weight: 600;
    font-size: 22px;
    transition: all 500ms;
}

#header-nav-bar-menu li a:hover {
    font-size: 24px;
    color: #64FFDA; 
    text-shadow: 2px 2px 8px var(--main-color);
    transition: all 500ms;
}
.button {
    font-size: 13px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    height: auto; 
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #64FFDA;
    cursor: default; 
}


.button:hover {
    filter: drop-shadow(0 0 1.5rem #64FFDA); 
    cursor: default; 
}


.button_container {
    display: flex;
    gap: 10px;
    cursor: default; 
}
.cert_card img{
    width: 250px;
    height:auto;
    display:block;
    border-radius: 5px;
}
.certificate_container {
    width: 65%;  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto; 
}

.cert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; 
    border-radius: 8px;
    width: 100%; 
    max-width: 280px; 
    margin: auto;
    background-color: white;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: transform 0.3s ease, filter 0.3s ease;
}

.cert_container:hover {
    filter: drop-shadow(0 0 1.5rem #64FFDA);  
}

.cert_text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-top: 30px;  
    width: 100%;
}

.cert_text span {
    font-size: 26px;
    font-weight: bold;
    color: #64ffda;
    margin-top: 10px;  
}

.cert_text span {
    font-size: 26px;
    font-weight: bold;
    color: #64ffda;
    margin-top: 10px;  
}


/*RESUME*/

.experience {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.experience h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #8891B0;
}

.experience_item {
    display: flex;
    justify-content: flex-start; 
    align-items: stretch;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.2s ease, filter 0.3s ease;
}
#about_me p {
    text-align: justify; 
    font-family: 'Poppins', sans-serif;
    text-align: left; 
    color: #CCD5F6;
    width: 60%;
    margin: 20px 0;
}

#about_me h2 {
    padding-top: 22px;
    padding-bottom: 10px;
}

main .main_container {
    display: flex;              
    align-items: center;  
    flex-direction: column;
    justify-content: center;    
    margin: 0 auto;
    padding-bottom:80px;
}

.main_container a {
    color: var(--text-color);
    margin-top: 20px;
    font-size: 18px;
    transition: all 500ms;
}

.main_container a:hover {
    letter-spacing: 1.05px;
    color: var(--main-color);
    transition: all 500ms;
}

.main_container a span {
    color: var(--main-color);
}
.main_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 40px;
}

/* Contenedor de imagen */
.grid_container_img {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Imágenes con hover */
.grid_container_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.5s ease, transform 0.3s ease-in-out;
}

.grid_container_img .image-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.grid_container_img:hover .image-default {
    opacity: 0;
}

.grid_container_img:hover .image-hover {
    opacity: 1;
    transform: scale(1.05);
}

/* Contenedor del texto */
.grid_container {
    width: 45%;
    text-align: left;
}

.grid_container h2 {
    font-size: 24px;
    color: #CDD6F6;
}

.grid_container h3 {
    font-size: 20px;
    color: #64ffda;
    padding-bottom:12px;
}

.div_p {
    background-color: rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
    padding-top: 25px;
    border-radius: 8px;
    color: #CDD6F6;
    font-size: 14px;
}

.grid_container p {
    color: #CDD6F6;
    padding: 20px;
    z-index: 2; 
}

.image-hover {
    opacity: 0; 
}

.grid_container_img .image-hover {
    opacity: 0;
    z-index: 2; 
}

.grid_container_img:hover .image-default {
    opacity: 0;
}
.grid_container_img img {
    transition: transform 0.4s ease-in-out; 
}


.grid_container_img:hover .image-hover {
    opacity: 1;
}

.main_grid:nth-child(odd) .grid_container {
    text-align: right;
}

.main_grid:nth-child(even) .grid_container {
    text-align: left;
}

.experience_item:hover {
    transform: scale(1.02); 
    filter: brightness(1.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.date {
    width: 320px;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    padding-right: 20px;
    text-align: left;
    align-self: flex-start; 
    margin-top: 5px; 
}

.details {
    flex-grow: 1;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details h3 {
    margin: 0;
    font-size: 1.4rem;
    color: var(--main-color);
}

.details p {
    padding-top:20px;
    justify-content: flex-start; 
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    text-align: left; 
    font-size: 14px;
    color: #ccd6f6;
}

.mobilecut .cert_card {
    color: #64ffda;
    font-size: 12px;
    padding: 15px;
}

.button_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
#message::placeholder {
    color: #787777; 
  }
input[type="text"]::placeholder {
    color: #787777; 
  }
  #submit {
    background-color: #64FFDA; 
    color: rgb(0, 0, 0);
    border: none; 
    padding: 12px 24px; 
    font-size: 18px;
    border-radius: 8px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    width: 100%; 
    box-sizing: border-box;
  }
  

  #submit:hover {
    background-color: #50d1c0; 
    transform: translateY(-4px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  #submit:active {
    background-color: #3db7a5; 
    transform: translateY(2px); 
  }
#contact_me_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}


#contact_me_container .contact_me_form input {
    width: 65%;
    height: 2.5rem;
    margin: 10px 0;
    border-radius: 14px;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #F7F7FF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#contact_me_container .contact_me_form textarea {
    width: 65%;
    height: 7.5rem;
    border-radius: 14px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #F7F7FF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#contact_me_container .map_container {
    height: 450px;
    width: 450px;
    margin-right: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact_me_container .contact_me_form {
    width: 450px;
    margin-left: 150px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--main-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
#contact_me_container .contact_me_form label {
    color: var(--main-body-color);
    font-family: 'Poppins', sans-serif;
}
canvas {
    transition: all 1s;
}

canvas:hover {
    transform: scale(1.2);
    transition: all 1s;
}

/*-------------*/

/*FOOTER SECTION CSS*/

/*-------------*/

footer {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid var(--text-color);
}

footer .footer_container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
}

footer .footer_container .footer_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer .footer_container .footer_element h4 {
    color: var(--main-color);
    font-family: 'Bungee', sans-serif;
    text-align: center;
    cursor: default;
}

footer .footer_container .footer_element span, a {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 5px 0;
}

.copyright {
    color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
        -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}


 

 

 
