@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Oxygen:wght@300;400;700&family=Poppins:wght@200;300&display=swap');
a{
  font-family: "Inter-Medium", "Inter", sans-serif
}
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter-Medium", "Inter", sans-serif;
  margin:0;
  padding: 0;
}
.buttoncito{
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secciones{
  font-size: 18px;
  font-family: "Inter-Medium", "Inter", sans-serif;
  padding-top: 10px;
  line-height: 1.7;
  text-align: center;
}
#cotiza1{
  padding-left: 90px;
  padding-top: 10px; 
  padding-bottom: 100px;
}
.choose{
  font-size: 42px;
  padding-right: 40px; 
  padding-left: 80px; 
  padding-top:40px; 
  padding-bottom: 10px;
}
a.eric{
  text-align: center;
  font-style: italic; 
  color: brown; 
  font-size: 30px;
  padding-left: 0px;
}
div.cotiza{
  padding-left: 100px;
  font-size: x-large;
  height: 250px; 
  display: block; 
  padding-top: 40px;
}
p.cotiza{
  font-family: "Inter-Medium", "Inter", sans-serif;
  padding-left: 10px; 
  padding-bottom: 20px; 
  padding-right: 80px;
}
.categoriaspadre{
  padding-left: 70px; 
  padding-right: 80px; 
  padding-top: 40px;
}
.contenedor-flexbox {
  display: flex; /*Convertimos al menú en flexbox*/
  align-items: center; /*con esto alineamos de manera vertical*/
}
.services{
  text-align: center;
  font-size: 20px
}
/*menu*/
.main-header {
  z-index: 100;
  position: fixed;
  font-weight: 500;
  font-family: "Inter-Medium", "Inter", sans-serif;
  font-size: large;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #224433;
  padding: 0 0.4rem;
}
.main-logo {
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.mac{
  text-align: center; 
  justify-content: center; 
  width: 550px
}
.lista{
font-size: 18px;
margin-top: 20px;
padding-top: 30px;
margin: auto;
}
.lista2{
font-size: 18px;
margin-top: 20px;
padding-right: 300px;
padding-left: 300px;
padding-bottom: 20px;
text-align: center;
}
p.pgrafik{
 text-align:center; 
 font-size: 23px;
 padding-bottom: 20px;
 padding-right: 100px;
 padding-left: 100px;
}
h2.grafik{
  text-align:center; 
  font-size: 52px; 
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
}
.main-nav.show {
  margin-left: 0;
}
.choose{
  padding-left: 80px; 
  padding-right: 80px;
}
.elegirnos{
  list-style:inherit; 
  font-size: 15px; 
  text-align: left;
}
.fraseweb{
  font-size: 35px;
  text-align: center;  
  display: flex; 
  justify-content: center;
  padding-top: 120px;
  padding-bottom:40px
}
div.service{
padding-top: 40px;
}
.frase{
  font-size: 35px;
  text-align: center;  
  display: flex; 
  justify-content: center;
  padding-top: 120px
}
.parrafotter{
  font-size: 20px;
text-align: left;
}
.parrafoelegirnos{
  padding-top: 20;
 font-size: 17px;
 text-align: center;
 font-family: 'Inter Tight', sans-serif;
 padding-bottom:50px"
}
.nav-links {
  background-color:#224433;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.link-item::after {
  position: absolute;
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:active{
  color:#224433;
}
.nav-links{
  color:#224433;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 70px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    flex-basis: 30%;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: #224433
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
.link-item {
  line-height: 24px;
  font-family:"Inter-Medium", "Inter", sans-serif;
  margin-top: 2rem;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  font-size: 18px;
}
header{
  height: 70px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 100px;
  background: #224433;
  color: #ffffff;
}
header .logo{
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  transition: 1.5s;
  text-decoration: none;
}
header ul{
  position: relative;
  display: flex;
}
header ul li a{
  position: relative;
  transition: 0.7s;
  font-family: 'Inter Tight', sans-serif;
}
header.abajo .logo,
header.abajo ul li a{
  color: #ffffff;
}
input:checked  ~ ul{
  display:block;
}
a.active.menu{
  color: #B1FC08;
}
a.menu:hover{
  color:#B1FC08;
}
.nav-bar{
color: #ffffff;
font-size: 18px;
list-style: none;
display: block;
list-style-type: none;
margin-bottom: 10px;;
}
.nav-bar ul{
margin-top: 25px;
cursor: pointer;
float: right;
color: rgb(0, 0, 0);
display: flex;
}
.nav-bar ul li a{
  display: block;
  }
.nav-bar ul li a.active{
  color:#000000;
  background: #fFFFFF;
}
.limenu{
  list-style:none;
  padding-top: 10px;
  padding-right: 40px;
}
.menu li {
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  list-style:none;
  margin: 0;
}
.item.active {
  display: block;
}
.maquina-escribir {
  font-size: 70px;
  display: block;
  font-family: 'Inter Tight', sans-serif;
  white-space: nowrap; /* los espacios en blanco no rompen la línea */        
  width: 20ch; /* el ancho será el número de caracteres que tiene nuestra línea */
  animation: escribiendo 2s steps(20);          
  overflow: hidden;
}
#reco{
  font-size: 25px; 
  text-align: center; 
  font-family: 'Inter Tight', sans-serif;
  color: #ffffff;
}
.cursor{
  animation: 0.6s parpadeo-cursor infinite;
}
p.bradingp{
  color:#444346;
  text-align: center;
  font-size: 20px;
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5; 
  padding-left: 200px;
  padding-right: 200px; 
  padding-top: 20px; 
  padding-bottom: 30px; 
}
.flexboxalign{
display: flex;
justify-content: center;
align-items: center;
height: 50px;
width: 200px;
}
p.titulos{
  text-align: left;
  font-size: 46px;
 }

@keyframes escribiendo {
  from {
    width: 0;
  }
}
@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
  background: grey;
}
/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  background: lightgrey; 
}
.main-menu{
color: #000000;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
font-size: 18px;
list-style: none;
display: block;
list-style-type: none;
display:flex;
flex-direction: column;
}
@media screen and (min-width: 768px){
  .menu.ulmenu{
    flex-direction:row;
  }
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
a {
  text-decoration: none;
}
.contenedor {
  color:black;
	display: table;
  width: 100px;
  margin-top:0px
}
h1{
  font-size:80px; 
  font-family: 'Inter Tight', sans-serif;
  width: 45px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 3.4em;
  color: #626262;
  animation: typing 3s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
.recomendaciones{
  background-color: #2c3e50;
  width: 100%;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
.image {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    
  }

  to {
    margin-left: 0%;
    
  }
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#p1{
  font-family: 'Inter Tight', sans-serif;
}
.men{
color: white;
padding: auto;
justify-content: left;
}
.tituloelegirnos{
 text-align: center; 
 font-size: 35px; 
 padding-bottom: 20px;
 padding-top: 30px;
}
/* Categorias de diseño, tattoo,diseño*/
.columna{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px 60px;
  height: 455px;
  padding-top: 20px;
  background-color: #FFFFFF;
  padding-left: 80px;
  padding-right: 80px;
}
.columna_contenido1{
  height: 430px;
  font-family: 'Montserrat';
  cursor:pointer;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px
  }

.columna_contenido1:hover{
    border:6px solid;
    box-shadow: var(--sombra);
    color:#672ECC;
  }
.columna_contenido1:active{
    box-shadow: var(--sombra);
    color:#000000;
  }
.columna_contenido2{
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
  }
  .columna_contenido2:hover{
    border: 6px solid;
    box-shadow: var(--sombra);
    color:#FBAA2C;
  }
  .columna_contenido2:active{
    box-shadow: var(--sombra);
    color:#000000;
  }
  .columna_contenido2 path{
    fill:#FBAA2C;
  }
  .columna_contenido2 svg{
    width:64px;
    margin-bottom :10px;
  }
  .columna_contenido2 path{
  fill:var(--gris-claro);
  transition: .3s ease all;
  }
  .columna_contenido2.activa{
    border: 2px solid var(#FBAA2C);
    color: rgb(0, 0, 0);
  }
  .columna_contenido2.activa{
   fill :var(--gris-claro);
  }
.columna_contenido3{
height: 340px;
font-family:'Montserrat';
cursor:pointer;
border-radius: 20px;
border: 2px solid transparent;
transition: .3s ease all;
color:var(--gris-claro);
margin-bottom: 50px;
padding-left: 12px;
padding-right: 12px;
}
.columna_contenido3:hover{
  border: 6px solid;
  box-shadow: var(--sombra);
  color:#FF7046;
}
.columna_contenido3:active{
  box-shadow: var(--sombra);
  color:#000000;
}
.columna_contenido3 path{
  fill:#000000;
}
.columna_contenido3 svg{
  width:64px;
  margin-bottom :10px;
}
.columna_contenido3 path{
fill:var(--gris-claro);
transition: .3s ease all;
}
.columna_contenido4{
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
  }
  .columna_contenido4:hover{
    border: 5px solid;
    box-shadow: var(--sombra);
    color:#4699ff;
  }
  .columna_contenido4:active{
    box-shadow: var(--sombra);
    color:#000000;
  }
.columna_contenido.activa{
  border: 2px solid var(#B1FC08);
  color: rgb(0, 0, 0);
}
.columna_contenido.activa{
 fill :var(--gris-claro);
}
.columna_contenido5{
  height: 540px;
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
}
.columna_contenido5:hover{
    border: 5px solid;
    box-shadow: var(--sombra);
    color:#4699ff;
  }
.columna_contenido5:active{
    box-shadow: var(--sombra);
    color:#000000;
  }

.columna_contenido6{
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
  height: 470px;
}
.columna_contenido6:hover{
  border: 5px solid;
  box-shadow: var(--sombra);
  color:#ff4e4e;
}
.columna_contenido6:active{
  box-shadow: var(--sombra);
  color:#000000;
}
.columna_contenido7{
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
 height: 560px;
}
.columna_contenido7:hover{
  border: 5px solid;
  box-shadow: var(--sombra);
  color:#FBAA2C;
}
.columna_contenido7:active{
  box-shadow: var(--sombra);
  color:#000000;
}
.columna_contenido8{
  font-family: 'Inter Tight', sans-serif;
  cursor:pointer;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: .3s ease all;
  color:var(--gris-claro);
  margin-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
 height: 570px;
}
.columna_contenido8:hover{
  border: 5px solid;
  box-shadow: var(--sombra);
  color:#6f6cff;
}
.columna_contenido8:active{
  box-shadow: var(--sombra);
  color:#000000;
}
h2.past-projects{
  padding-bottom:50px ;
  font-size: 52px;
  text-align: center;
  padding-top: 20px;
}
h4{
  font-family: 'Inter Tight', sans-serif;
color: #4e5861!important;
line-height: 1.2em;
width:33%;
margin-left: 20px;
margin-right: 20px;
font-weight: 800;
font-size: 25px;
color: #444346!important;
line-height: 3.2em;
text-align: center;
font-style: normal;
}
h3{
  font-family: 'Inter Tight', sans-serif;
  width: max-content;
  font-size: 72px;
  position: relative;
  cursor: pointer;
  margin: 100px auto;
}
.columnahijoabout1{
  float:left;
  padding-left: 60px;
  padding-right:60px;
  width: 40%;
}
.columnahijoabout2{
  float:left;
  padding-left: 60px;
  padding-right:60px;
  width: 40%;
}
.columna_hijo1{
  float:left;
  padding-left: 60px;
  padding-right:60px;
  border-right: 1px solid rgb(255, 255, 255);
  width: 40%;
}
.columna_hijo2{
  padding-left: 60px;
  padding-right:60px;
  border-right: 1px solid rgb(255, 255, 255);
  width: 40%;
  float:left;
}
.columna_hijo3{
  padding-left: 60px;
  padding-right:60px;
  border-right: 1px solid rgb(255, 255, 255);
  width: 40%;
  float:left;
}
.contenidopadre{
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  height: 640px;
  flex-direction: row;
  position:relative;
  font-family: 'Inter Tight', sans-serif;
}

a:hover{
  color:white;
}
.categoria{
  border-radius: 20px; 
  width: 340px; 
  height: 205px;
}
.categoria2{
  border-radius: 20px; 
  width: 340px; 
  height: 205px;
}
.branding{
  text-align: center;
  font-size: 52px;
  padding-top:80px; 
  padding-bottom: 10px;
}
.branding1{
  text-align: center;
  font-size: 52px;
  padding-top:80px; 
  padding-bottom: 10px;
}

#contenedor_about {
  flex-direction: row;
  flex-wrap: wrap;
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
#contenedor_about> div {
  width: 50%;
}
#hijouno{
  float:left;
  padding-left: 60px;
  padding-right:60px;
  border-right: 1px solid rgb(255, 255, 255);
  width: 40%;
}
.textocategorias{
  padding-left:80px; 
  padding-right: 80px; 
  padding-top: 20px; 
  padding-bottom: 40px;
  text-align: center;
}
.parrafo{
padding-left:70px; 
padding-right: 40px; 
padding-top: 20px; 
padding-bottom: 40px;
text-align: center;
}
.nueva{
   padding-left: 5px; 
   font-size:50px;
text-align: center;
}
#hijodos{
  float:left;
  padding-left: 60px;
  padding-right:60px;
  border-right: 1px solid rgb(255, 255, 255);
  width: 40%;
}
.ofrecemoslista{
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  font-family: 'Inter Tight', sans-serif;
}
.compu{
background-color: white; 
padding-top: 40px; 
padding-right: 15px;
}
h1{
  font-size: 30px;
  color: #ffffff;
}
.columna:hover path{
  fill: #000000;
}
button {
  display: block;
  padding: 0.5rem 1rem;
  width: 200px;
  margin: 0 auto;
}
.my-button {
  border: none;
  font-weight: 500;
  font-family: 'Inter Tight', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  border: 4px solid;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 55px;
  width: 160px;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 15px;
}
svg{
  margin-top: 0px;
}
.my-button:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: black;
  border:3px solid;
  border-color: #000000;
}
.my-button:active {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: black;
  border:3px solid;
  border-color: #000000;
}
.my_button2 {
  border: none;
  font-weight: 500;
  font-family: 'Inter Tight', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  border: 4px solid;
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 55px;
  width: 160px;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 15px;
}
.my_button2:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: black;
  border:3px solid;
  border-color: #000000;
}
.my_button2:active {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: black;
  border:3px solid;
  border-color: #000000;
}
.my-button3 {
  border: none;
  font-weight: 500;
background: none;
font-family: 'Inter Tight', sans-serif;
  color: #224433;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 0px;
  height: 55px;
  width: 150px;
  font-size: 22px;
  background-color:#B1FC07;
  float: right;
  margin-right: 35px;
}
.my-button3:hover {
  background-color: #679202;
}
.my-button3:active {
  background-color: #638e01;
}
.marquee {
  padding-top:30px; 
  padding-bottom:30px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  font-family: 'Inter Tight', sans-serif;
}
.marquee li {
  color: #000000;
  font-size: 35px;
}
.marquee__content {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  width: 100%;
  list-style: none;
  animation: scrolling 40s linear infinite;
}
.marquee__item {
  flex-shrink: 0;
}
@keyframes scrolling {
  0% { transform: translateX(0) }
  100% { transform: translateX(-100%) }
}
#contenedor{
width: 100%; 
display:table;}

#hijo1 {
width: 33.3%;
position:relative;
float:left;
padding-bottom: 40px;
padding-left: 120px;
padding-right: 10px;
}

#hijo2{
width: 33.3%;
  position:relative;
  float:right;
  padding-bottom: 40px;
  padding-left: 120px}

#hijo3{
width: 33.3%;
  position:relative;
  float:right;
  padding-bottom: 40px;
  padding-left: 10px}

.recomendaciones{
  height: 700px;
  background-color: #898989; 
  height: auto;
  display: flex;
  }
  UL.col3
  {
  FLOAT: left;
  WIDTH: 100%;
  LIST-STYLE-TYPE: none
  }
  
  UL.col3 LI
  {
  DISPLAY: inline;
  FLOAT: left;
  WIDTH: 33%;
  }
.my-button:active {
background-color: #78ab02;
        }
.sombra {
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
#titulo{
  width: 100%;
  font-size: 40px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.barraslide{
  background-color: rgb(255, 255, 255); 
  height: 450px;}

 .slide {
  text-align: center;
  width: auto;
 height: auto;
  border-radius: 10px;
}
.slide-inner {
  border-radius: 15px;
  overflow: hidden;
  width: 500px;
 height: auto;
  height: calc( 300px + 3em);
  border-radius: 10px;
  margin-bottom: 100px;
  margin-left: 380px;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
  text-align: center;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: 400px;
  max-width: auto;
  
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 20%;
}
.slide-control.next {
  right: 20%;
}
.slide-control:hover {
  background: #78ab02;
  color: #000000;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 50px;
}
.slide-circulo:hover {
  color: #78ab02;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #ffffff;
}
.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
.section-title:after,
.section-title:before {
	content: "";
	position: absolute;
	bottom: 0;
}
.section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}
.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}
/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}
.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}

.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 500;
}

.feedback-slider-item p {
	line-height: 1.875;
}
.customer-rating {
	background-color: #eee;
	border: 3px solid rgb(0, 99, 22)255, 98);
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700px;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: -3px;
}
.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}
.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}
.customer-rating i {
	color: rgb(251, 90, 13);
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}
/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #f6f6f6;
	border: 1px solid rgba(251, 90, 13, 0.1);
	border-radius: 10px;
	z-index: -1;
}

.thumb-prev,
.thumb-next {
	position: absolute;
	z-index: 99;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.thumb-next {
	left: auto;
	right: -90px;
}
.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}
.feedback-slider-thumb:hover {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: inline-block;
	bottom: 45px;
	transition: all 0.2s ease-in;
}

.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}

.customer-feedback .owl-prev {
	left: -15px;
}

.customer-feedback .owl-prev:hover {
	left: -20px;
}

.customer-feedback .owl-next {
	right: -15px;
}

.customer-feedback .owl-next:hover {
	right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}
.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}
.titulo2{
  padding-top:40px; 
  text-align: center;
  font-size: 54px;
  padding-bottom: 50px; 
  padding-left: 150px; 
  padding-right: 150px
}
.branding3{
  border-radius: 20px; 
  width: 390px; 
  height: 200px;
}
.foot{
  text-align:left; 
  height: 200px; 
  padding-top: 30px;
}
/* RESPONSIVE */
@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}
/* extra */
.copyright {
	text-align: center;
	margin-top: 30px;
	font-size: 1.6rem;
	background-color: #ededed;
}
.copyright a {
	display: inline-block;
	padding: 15px 2px;
}
.copyright a:not(:last-child):after {
	content: "/";
	margin-left: 10px;
}

.toptal {
	color: #204ecf;
}

.upstack {
	color: #008bf7;
}

.upwork {
	color: #37a000;
}

.fiverr {
	color: #1dbf73;
}

/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Skill bars */
.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #efefef;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  font-family: 'Inter Tight', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
}
/* form */
textarea {
  font-family: 'Inter Tight', sans-serif;
}
.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.box{
  font-family: 'Inter Tight', sans-serif;
	font-size: 1.2em;
	line-height: 1.6em;
  text-align: center;
}
h2{
  font-family: 'Inter Tight', sans-serif;
}
/*screen resolutions lower than 620px*/
@media all and (max-width: 1180px){
	.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}
}
#section h2{
	margin-bottom: 50px;
  position: relative;
  display: block;
}
#section p a{
	color: #00B16A;
  text-decoration: none;
}
#section .wrap {
	text-align: center;
	width: 100%;
}
#section .box{
	text-align: center;
	margin: 5% 0 0 0;
	width: 100%;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}
.contact-form .input-block {
  font-family: 'Inter Tight', sans-serif;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #000000;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #000000;
  font-size: 18px;
  line-height: 10px;
  background-color: #f2f8ea;
  font-family: 'Inter Tight', sans-serif;
}
.contact-form .input-block .form-control {
  font-family: 'Inter Tight', sans-serif;
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  padding: 30px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  font-family: 'Inter Tight', sans-serif;
  border: 3px solid;
  border-color: #000000;
  color: #000000;
  background-color: #F2F8EA;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 3px solid;
  border-radius: 26px;
  text-transform: uppercase;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  font-family: 'Inter Tight', sans-serif;
  background-color: #000000;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  transform: translateY(-4px);
  color:#ffffff;
  border: 3px solid;
  border-color: #000000;
}
.ofrecemos{
  line-height: 1.7;
  font-size: 17px;
}
.ofrecemos2{
  font-size: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .contact-wrap {
    margin: auto;
  }
}
@media (max-width: 868px) {
	.contact-form {
	  width: 100%;
	  padding: 40px;
	}
}
@media (max-width: 568px) {
	.contact-form {
	  padding: 10px;
	}
}
/*----page styles---*/
.contact-wrap {
  padding: 15px;
}
.contact-wrap h1 {
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.contact-wrap h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff7c62;
}
p{
  font-family: 'Inter Tight', sans-serif;
}
/* Responsive Design/
/* Large devices only */
@media (min-width : 1200px) {

}
/* Medium devices only */
@media (min-width: 950px) and (max-width: 1199px){

}

/* Small devices only*/
@media (min-width: 720px) and (max-width: 949px){
 .diseno p{
    font-size: 50px;
  }

div.marquee {
  display: none;
}
.ofrecemoslista{
  padding-top: 20px;
  text-align: center;
}
a.eric{
  display: none;}
.slide-inner {
  border-radius: 15px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
}

div.recomendaciones{
  display: none; 
}
.container{
  font-size: 50%
}
.carousel-inner{
  display: none; 
}
ul.ulmenu {
display: none; 
  }
 div.aboutme{
  display: none;
 }
 button.my-button3{
  display: none;
}
p.titulos{
  font-family: 'Inter Tight', sans-serif;
  padding-top: 10px; 
  font-size: 25px;
}
.hamburger{
  display: block;
  cursor:pointer;
}
.hambuger .line{
width: 30px;
height: 3px;
background: #FFFFFF;
margin: 6px 0;
}}

/* X-Small devices only */
@media (min-width: 375px) and (max-width: 719px){
.branding1{
  text-align: center;
  font-size: 40px;
}
.branding{
  font-size: 40px;
  padding-left:30px;
  padding-right: 30px;
  text-align: center;
}
.ofrecemos2{
  font-size: 20px;
  padding-top: 20px;
}
p.bradingp{
  text-align: center;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}
.slides{
  display: none;
}
.textocategorias{
  font-size:20px;
  padding-top: 20px; 
  padding-bottom: 40px;
  text-align: center;
}
.parrafo{
  font-size: 20px;
  padding-left:15px; 
  padding-right: 15px; 
  padding-top: 20px; 
  padding-bottom: 40px;
  text-align: left;
  }
.columna_contenido7{
  height: 60%;
}
.columna_contenido6{
  height: 70%;
}
.columna_contenido5{
  height: 60%;
}
.columna_contenido8{
  height: 60%;
}
div.images{
  display: none;
}
.parrafoelegirnos{
  display: none;
  text-align: center;
 }
.tituloelegirnos{
  text-align: center; 
  font-size: 35px; 
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
 }
ul.elegirnos{
  list-style:inherit; 
  font-size: 20px; 
  text-align: center;
}
.branding2{
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
h2.past-projects{
display: none;
}
.choose{
  padding-left: 80px; 
  padding-right: 80px;
}
.hambuger{
  display: block;
  cursor:pointer;
}
div.marquee {
  display: none;
}
.my-button{
  font-size: 30px;
  height: 20%;
}
.my_button2{
  font-size: 30px;
  height: 20%;
  }
.my-button3{
    font-size: 30px;
    width: 50%;
    height: 20%;
    margin-left: 120px;
    margin-bottom: 30px;
    }
.nueva{
  margin-right: 40px;
  padding-left: 30px;
  font-size: 45px;
  text-align: center;
  padding-bottom: 20px;
}
.services{
text-align: center;
  font-size: 20px;}

.img{
  width: 500px;
  height: auto;
  }
  div.service{
    padding-right: 45px;
  }
.categoria{
  border-radius: 20px; 
 width: 280px;
 height: auto;
}
.categoria2{
  margin-right: 60px;
  border-radius: 20px; 
  width: 280px; 
  height: auto
}
p.ofrecemos{
  display: block;
}
p.cotiza{
  font-family: 'Inter Tight', sans-serif;
  padding-bottom: 20px; 
  text-align: center;
  font-size: 20px;
}
div.columna_contenido1{
  height: 180px;
}
div.columna_contenido3{
  height: 180px;
}
div.columna_contenido3{
  height: 180px;
}
.recomendaciones{
  display: none;
}
p.secciones{
  display: none;
}
.diseno p{
  text-align: center;
  justify-content: center;
  font-size: 55px;
}
.carousel-inner{
  display: none; 
}
button.my-button3{
  display: none;
}
ul.ulmenu {
  display: none; 
}
.hambuger .line{
width: 30px;
height: 3px;
background: #FFFFFF;
margin: 6px 0;
}
.nav-bar{
  display: none;
}
.frase{
  margin-left: 50px;
 display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
div.sub{
  display: none;
}
.footer{
    background-color: #000000
  }
div.section{
  display: none;
}
p.ofrecemos{
  display: none;
}
h2.pasados{
padding-top: 220px;
 }
 .pfooter{
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  padding-top: 20px; 
  padding-left: 20px;
  padding-right: 60px; 
  padding-bottom: 40px;
  text-align: center;
}
.choose{
  font-size: 40px;
  padding-right: 20px; 
  padding-left: 20px; 
  padding-top:40px; 
  padding-bottom: 10px;
  text-align: center;
}
.branding{
  text-align: center;
  font-size: 52px;
  padding-bottom: 10px;
}
div.intro{
  display: none;
}
div.compu{
  padding-top: 50px;
}
div.contenidohijo1{
  margin-bottom: 100px;
}
div.cotiza{
  width: 100%;
  height: 300px;
  margin-bottom: 200px;
}
footer{
  text-align: center;
}
div.andere{
  display: none;
}
h2.andere{
  font-style: small;
}
div.marquee{
font-size: 60px;
}
div.aboutme{
display: none;
}
div.slide{
  width: 500px;
  height: 200px;
padding-left: 40px;
}

.columna_contenido2 p{
font-size: 300px;
}
.contenido svg{
  display: none;
}
div.compu{
display: none;
}
div.celu{
  display: none;
  }
.categoriaspadre{
  text-align: center;
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 40px;
}
.foot{
margin:auto;
padding: auto;
}
.titulo2{
  padding-right: 100px;
  padding-left: 100px;
  padding-top:40px; 
  text-align: center;
  font-size: 44px;
  padding-bottom: 50px; 
}
.lista2{
width: 95%;
padding-left: 40px;
padding-bottom: 40px;
}
div.imagecel{
  display: none;
}
img.mac{
width: 95%;
padding-left: 45px;
}
div.ipad{
  display: none;
}
h2.pfooter{
  font-size: 20px;
  text-align: center;
  padding-left: 80px;
}
h2.pfooter2{
  font-size: 30px;
  width: 100px;
  text-align: center;
}
.sub{
  padding-right: 80px;
  padding-left: 80px
}
p.frasetitulo{
  font-size: 60px;
  text-align: center;  
  display: flex; 
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 30px;
}
.branding2{
  display: none;
}
.branding1{
  display:none;
}
.branding3{
  display:none;
}
p.pgrafik{
  display: none;
}
h2.grafik{
  text-align:center; 
  font-size: 42px; 
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
}